In [1]:
import requests
import json
import pandas as pd

from time import sleep
from random import random

In [2]:
def get_json_response(url):
    response = requests.get(url)
    json = response.json()
    return json, response

def df_from_json(json, min_rating = 0, keys = ['name', 'formatted_address', 'opening_hours', 'price_level', 'rating']):
    data = [[i[k] if k in i.keys() else None for k in keys] for i in json['results']]
    df = pd.DataFrame.from_records(data, columns=keys)
    
    #Filter for rating
    df = df[df['rating'] >= min_rating]
    
    return df

In [3]:
def get_businesses(query, api_key, min_rating=0.0, max_results = 30):

    base_url = 'https://maps.googleapis.com/maps/api/place/textsearch/json?'
    url = base_url + f'query={query}&key={api_key}'

    json, response = get_json_response(url)
    df = df_from_json(json, min_rating=min_rating)


    if 'next_page_token' in json.keys():
        nxt = json['next_page_token']
        while len(df) < max_results:
            new_url = base_url+f'key={api_key}&pagetoken={nxt}'

            json, response = get_json_response(new_url)
            while response.json().get('status') != 'OK':
                #More info not available yet - so, wait.
                sleep(random())
                #Try again:
                json, response = get_json_response(new_url)

            #Cast result to df and append to list.
            df_more = df_from_json(json, min_rating=min_rating)

            df = pd.concat([df, df_more], axis=0).reset_index(drop=True)

            #Are there even MORE results?
            if 'next_page_token' in json.keys():
                nxt = json['next_page_token']    
            else:
                #No more results!
                print('No more results!')
                break
    else:
        print('Only one page of results!')
        
    return df.iloc[:max_results]

In [4]:
freeform_query = input('Query:')
query = '+'.join(freeform_query.split())
api_key = 'AIzaSyCcpnnkVdmrXkDm7Ow8pe5aEBq9OIv98kw'

df = get_businesses(query, api_key)

Query: food

In [5]:
df[df['rating']>4.3]

,name,formatted_address,opening_hours,price_level,rating
1,西安名吃 Xi'an Famous Foods,"2675 Broadway, New York, NY 10025, USA",{'open_now': True},1.0,4.5
11,Malaysia Grill,"224 W 104th St, New York, NY 10025, USA",{'open_now': True},1.0,4.4
12,Roti Roll Bombay Frankie,"994 Amsterdam Ave, New York, NY 10025, USA",{'open_now': True},1.0,4.5
14,Dig Inn,"2884 Broadway, New York, NY 10025, USA",{'open_now': True},1.0,4.4
17,Saiguette,"935 Columbus Ave, New York, NY 10025, USA",{'open_now': True},1.0,4.5
21,Arco Cafe,"886 Amsterdam Ave, New York, NY 10025, USA",{'open_now': True},2.0,4.4
22,Flor de Mayo,"2651 Broadway, New York, NY 10025, USA",{'open_now': True},2.0,4.4
29,Tartina,"1034 Amsterdam Ave, New York, NY 10025, USA",{'open_now': True},2.0,4.4

In [19]:
json

In [6]:
from time import sleep

In [7]:
sleep(5)