https://www.sqlite.org/index.html

- Tables
    - Users
    - Accounts

- Relationships
    - Each user can have multiple accounts
    - Each account can only be associated with one user

```sql
-- Not needed in SQLite. 
-- Each file is its own database.
CREATE DATABASE bank; 
```

```sql
CREATE TABLE users (
    id integer PRIMARY KEY,
    name varchar(255)
);

CREATE TABLE accounts (
    id integer PRIMARY KEY,
    user_id integer REFERENCES users (id),
    balance integer
);
```

```sql
INSERT INTO users VALUES (1, 'Rebecca');
```

```sql
INSERT INTO accounts VALUES (1, 1, 10000);
INSERT INTO accounts VALUES (2, 1, 40000);
```

In [1]:
import sqlite3
conn = sqlite3.connect(':memory:')

c = conn.cursor()

c.executescript(
    """
    CREATE TABLE users (
        id integer PRIMARY KEY,
        name varchar(255)
    );

    CREATE TABLE accounts (
        id integer PRIMARY KEY,
        user_id integer REFERENCES users (id),
        balance integer
    );

    INSERT INTO users VALUES (1, 'Rebecca');
    INSERT INTO accounts VALUES (1, 1, 10000);
    INSERT INTO accounts VALUES (2, 1, 40000);
    """
)

conn.commit()

In [2]:
c.execute(
    """
    SELECT *
    FROM users u
    LEFT JOIN accounts a ON u.id = a.user_id;
    """
)
c.fetchall()

[(1, 'Rebecca', 1, 1, 10000), (1, 'Rebecca', 2, 1, 40000)]